<div class="row">
    <div class="col-md-12">
        <h2>
            Departments 
            <a href = "/departments/add"><button class="btn btn-success float-right">Add Department</button></a>
        </h2>
        <hr/>
        <p>
            <div class = "table-responsive">
                <table class = "table">
                    <tr>
                        <th>Department Number</th>
                        <th>Department Name</th>
                        <th></th>
                    </tr>
                    {{#each departments}}
                    <tr>
                        <td><a href = "/department/{{departmentId}}">{{departmentId}}</a></td>
                        <td><a href = "/employees?department={{departmentId}}">{{departmentName}}</a></td>
                        <td>
                            <a href="/departments/delete/{{departmentId}}">
                                <button class = "btn btn-danger">Remove</button>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            {{#unless employees}}
                <div class="col-md-12 text-center">
                    <strong>{{message}}</strong>
                </div>
            {{/unless}}              
        </p>
    </div>
</div>